@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* swiperjs */
.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tabmenu start */
.tabmenu{ 
    padding: 600px;
    max-width:1280px; 
    margin: 0 auto; 
    position:relative;
}
.tabmenu ul{
    position: relative;
    display: flex;
    justify-content: center;
}
.tabmenu ul li{
    display:inline-block;
    width:33.33%;
    text-align:center; 
    background :#f9f9f9;
    line-height:40px;
}
.tabmenu label{
    display:block;
    width:100%;
    cursor: pointer;
    height:40px;
    line-height:40px;
}
.tabmenu input{
    display:none;
}
.tabCon{
    display:none;
    position:absolute; 
    left:0;
    top:40px;
}
.tabmenu input:checked ~ label{
    background:#ccc;
}
.tabmenu input:checked ~ .tabCon{
    display:block;
}
/* tabmenu end */

/* page1 start */
#page1{}
#page1 .video{
    /* background-color: #000; */
    width: 100%;
    height: 100vh;
}
/* page1 end */

/* page2 start */





#page2{
    max-width: 1192px;
    margin: 0 auto;
    padding: 100px 0;
    word-break: keep-all;
}
#page2 > h2,
#page3 > h2,
#page4 > h2{
    padding-bottom: 90px;
    font-size: 46px;
    font-weight: 900;
    text-align: center;
}
.content{}
.content1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box,
.box8,
.box9{
    overflow: hidden;
    position: relative;
}
.con-text{
    position: absolute;
    width: 100%;
    color: #fff;
    left: 30px;
    top: 36px;
    font-size: 18px;
    font-weight: 700;
    z-index: 999;
}
.con-text > p{
    padding-top: 24px;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
}
.box > a{
    display: block;
    width: 380px;
    height: 360px;
    background-color: #fff;
}
.box9{
    display: block;
    width: 786px;
    height: 360px;
    /* background: url(https://github.com/gugu2099/KCIPC/assets/141696429/8e7152df-a430-413e-8aaa-58b92f856c12) center center; */
    /* background: url(https://github.com/gugu2099/KCIPC/assets/141696429/478e59aa-0cb3-4eb2-9b8d-1730de8f00e0) center center; */
    background: url(https://github.com/gugu2099/KCIPC/assets/141696429/eed49475-3543-464e-8f2b-86a6f810466c) center center;
    background-size: cover;
    background-attachment: fixed;
}
/* tab */
.tab{
    width: 620px;
    margin: 0 auto;
    text-align: center;
}
.tab > ul{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.tab > ul > li{
    position: relative;
}
.tab > ul > li > a{
    display: block;
    width: 120px;
    height: 120px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}
.group{
    display: flex;
    flex-direction: column;
}
.tab > ul > li > span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #d9d9d9;
    margin-top: 20px;
}
.tab > ul > li:hover > span{
    background-color: #24AEE1;
}

/* modify start*/

.tab > ul > li:hover > a{
    background-color: #fff;
}
.tab > ul > li:hover > a > .group > .text,
.tab > ul > li:hover > a > .group > .text > span,
.tab > ul > li:hover > a > .group > .text > p{}

li .group > img:nth-child(2){
    display: none;
}
li:hover .group > img:nth-child(1){
    display: none;
}
li:hover .group > img:nth-child(2){
    display: block;
}

/* modify end*/

.group > img{
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}
.text{
    color: #fff;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}
.text > span{
    color: #fff;
    font-size: 14px;
}
.text > p{
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    padding-top: 6px;
}

.box8 > a{
    display: block;
    width: 380px;
    height: 740px;
    background-color: #ccc;
}
.box > a > img,
.box8 > a > img{
    display: block;
    width: 100%;
    background-size: cover;
}

/* page2 end */

/* page3 start */
#page3{}
#page3 > .slider{
    margin: 0 auto;
    width: 1192px;
    height: 450px;
    background-color: #9f9f9f;
}
/* page3 end */

/* page4 start */
#page4{
    margin: 0 auto;
    max-width: 1192px;
    padding: 100px 0;
}
#page4 > .container{
    height: 1220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page4 > .container > ul{
    display: flex;
    justify-content: space-between;
}
#page4 > .container > ul > li{
    width: 380px;
    height: 380px;
    background-color: #ccc;
}

/* page4 end */
