

input:-ms-input-placeholder {color: #a8a8a8;}
input:-webkit-input-placeholder {color: #a8a8a8;}
input:-moz-input-placeholder {color: #a8a8a8;}

/*  */
.hi{
    margin-top: 180px;
    margin-bottom: 100px;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}
.hello{
    width: 1192px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.hello > li{}
.hello > li > a{
    display: block;
    width: 240px;
}
.hello > li:nth-child(2) > a{
    font-size: 20px;
    padding: 20px 0;
    /* line-height: 20px; */
    border: 1px solid #24aee1;
    background-color: #24aee1;
    color: #fff;
}
.hello > li:nth-child(1) > a,
.hello > li:nth-child(3) > a,
.hello > li:nth-child(4) > a{
    font-size: 20px;
    padding: 20px 0;
    /* line-height: 20px; */
    border: 1px solid #757575;
    border-right: none;
    color: #3f3f3f;
}
.hello > li:nth-child(4) > a{
    border-right: 1px solid #757575;
}
.hello > li:nth-child(1) > a:hover,
.hello > li:nth-child(3) > a:hover,
.hello > li:nth-child(4) > a:hover{
    background-color: #24aee1;
    color: #fff ;
}

/*  */


/* contianer start */
.contianer{
    margin-top: 100px;
}
.contianer > ul > li{}
.contianer > ul > li > img{}
.contianer > ul > li > p{}
/* contianer end */


.tabmenu{ 
max-width: 1192px;
margin: 0 auto; 
}
.tabmenu ul{
position: relative;
text-align: center;
padding-top: 100px;
}
.tabmenu ul li{
display: inline-block;
max-width: 100%;
text-align:center; 
line-height:40px;
padding-right: 20px;
}
.tabmenu ul li:last-child{
padding-right: 0;
}
.tabmenu label{
display:block;
width:100%;
height:40px;
line-height:40px;
cursor: pointer;
}
.tabmenu input{
width: 100%;
display:none;
}
.tabCon{
position:absolute; 
display: none; 
width: 100%;
text-align: left; 
left:0;
box-sizing: border-box; 
}
.tabmenu input:checked ~ label{
font-weight: 900;
}
.tabmenu input:checked ~ .tabCon{
display:block;
}

.tabCon > ul{
    display: flex;
    justify-content: space-between;
}
.tabCon > ul > li{}
.tabCon > ul > li > img{
    width: 276px;
    height: 364px;
    background-color: #a8a8a8;
}
.tabCon > ul > li > p{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
}
/* tab1 end */





.footer{
    margin-top: 2000px;
}