
.back{
    background: url(/image/bg2.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 660px;
    position: relative;
}
/* .bg1{
    width: 100%;
	background-size: cover;
    height: 600px;
} */
/* tab start */
.tab {
    position: absolute;
    bottom: 0;
    width: 1192px;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    -webkit-box-sizing: border-box;
}
.tab__item,
.tab__item.active {
    border: 1px solid #CECECE;
    border-right: none;
}
.tab__item:last-child{
    border-right: 1px solid #cecece;
}
.tab__item {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.tab__item.active {
    background-color: #00A3E0;
    border: none;
}
.tab__item.active > a{
    color: #fff;
}

/* css */
.tab__content-wrapper {
    max-width: 1192px;
    margin: 0 auto;
    position: relative;
}
.tab__content {
    display: none;
}
.tab__content.active {
    display: block;
}
.tab__content.active > .content-title > h2,
.tab__content > .content-title > h2 {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -440px;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}
.tab__content.active > .content-title > strong,
.tab__content > .content-title > strong,
.tab__content.active > .content-title > b,
.tab__content > .content-title > b,
.tab__content.active > .content-title > p,
.tab__content > .content-title > p{
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translate(-50%, 0);
}
.tab__content.active > .content-title > strong > span,
.tab__content > .content-title > strong > span,
.tab__content.active > .content-title > b > span,
.tab__content > .content-title > span{
    font-size: 25px;
    font-weight: 700;
    color: #008EC6;
}
.tab__content.active > .content-title > strong,
.tab__content > .content-title > strong{
    display: block;
    top: -320px;
    font-size: 25px;
    font-weight: 700;
}
.tab__content.active > .content-title > b,
.tab__content > .content-title > b{
    display: block;
    top: -280px;
    font-size: 25px;
    font-weight: 700;
}
.tab__content.active > .content-title > p,
.tab__content > .content-title > p{
    font-weight: 200;
    top: -240px;
    line-height: 27px;
    text-align: center;
}

/* tab end */

/* tab common */
.content1,
.content2,
.content3,
.content4,
.content5,
.content6{
    padding-top: 100px;
}

/* tab1 start*/

/* tab1 end */

/* tab2 start*/

/* tab2 end */

/* tab4 start */

/* tab4 end */