
#page1{
    background-size: cover;
    position: relative;
}
/* .bg2{
	background-size: cover;
    height: 580px;
    background-color: #008ec6;
    background: url(https://github.com/gugu2099/KCIPC/assets/141696429/478e59aa-0cb3-4eb2-9b8d-1730de8f00e0) center center;
    background-size: cover;
    background-attachment: fixed;
} */
.bg2{
    width: 100%;
	background-size: cover;
    height: 580px;
}
.group{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%); /*tab 반걸침 수정함*/
    bottom: 0;
    width: 1192px;
    text-align: center;
    display: flex;
    box-shadow: 0 2px 15px -5px rgba(0,0,0,0.3); /*그림자*/
}
.group > .box{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    -webkit-box-sizing: border-box;
}
.group > .box:first-child{
    border-left: 1px solid #cecece;
}

.group > .box:nth-child(2){
    background-color: #008EC6;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
}
.group > .box:nth-child(2) > a{
    color: #fff;
}

.group > .box > a{
    display: block;
    font-size: 20px;
    color: #111111;
}
.group > .box:hover{
    background-color: #008EC6;
    border: none;
    /* border: 1px solid #008EC6; */
}
.group > .box:hover > a{
    color: #fff;
}

.content-title{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content-title > h2{
    display: block;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 78px;
}
.content-title > strong{
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
}
.content-title > strong > span{
    color: #008ec6;
    padding-left: 6px;
}
.content-title > p{
    width: 600px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 27px;
    padding-top: 20px;
    word-break: keep-all;
}
