

input:-ms-input-placeholder {color: #a8a8a8;}
input:-webkit-input-placeholder {color: #a8a8a8;}
input:-moz-input-placeholder {color: #a8a8a8;}

/* page1 */
#page1{
    background-size: cover;
    padding-top: 20px;
    position: relative;
}
/* .bg1{
	background-size: cover;
    height: 580px;
    background-color: #008ec6;
    background: url(https://github.com/gugu2099/KCIPC/assets/141696429/478e59aa-0cb3-4eb2-9b8d-1730de8f00e0) center center;
    background-size: cover;
    background-attachment: fixed;
} */
.bg1{
    width: 100%;
	background-size: cover;
    height: 580px;
}
.group{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 1192px;
    text-align: center;
    display: flex;
}
.group > .box{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    -webkit-box-sizing: border-box;
}
.group > .box:first-child{
    border-left: 1px solid #cecece;
}

.group > .box:nth-child(1){
    background-color: #008EC6;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
}
.group > .box:nth-child(1) > a{
    color: #fff;
}

.group > .box > a{
    display: block;
    font-size: 20px;
    color: #111111;
}
.group > .box:hover{
    background-color: #008EC6;
    border: none;
    /* border: 1px solid #008EC6; */
}
.group > .box:hover > a{
    color: #fff;
}

.content-title{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content-title > h2{
    display: block;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 78px;
}
.content-title > strong,
.content-title > b{
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
}
.content-title > strong > span,
.content-title > b > span{
    color: #008ec6;
    padding-left: 6px;
}
.content-title > p{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 27px;
    padding-top: 20px;
}




/*  */
/* .hi{
    margin-top: 180px;
    margin-bottom: 100px;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}
.hello{
    width: 1192px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.hello > li{}
.hello > li > a{
    display: block;
    width: 240px;
}
.hello > li:nth-child(2) > a{
    font-size: 20px;
    padding: 20px 0;
    border: 1px solid #24aee1;
    background-color: #24aee1;
    color: #fff;
}
.hello > li:nth-child(1) > a,
.hello > li:nth-child(3) > a,
.hello > li:nth-child(4) > a{
    font-size: 20px;
    padding: 20px 0;
    border: 1px solid #757575;
    border-right: none;
    color: #3f3f3f;
}
.hello > li:nth-child(4) > a{
    border-right: 1px solid #757575;
}
.hello > li:nth-child(1) > a:hover,
.hello > li:nth-child(3) > a:hover,
.hello > li:nth-child(4) > a:hover{
    background-color: #24aee1;
    color: #fff ;
} */

/*  */


/* contianer start */
/* .contianer{
    margin-top: 100px;
}
.contianer > ul > li{}
.contianer > ul > li > img{}
.contianer > ul > li > p{} */
/* contianer end */


/* .tabmenu{ 
max-width: 1192px;
margin: 0 auto; 
}
.tabmenu ul{
position: relative;
text-align: center;
padding-top: 100px;
}
.tabmenu ul li{
display: inline-block;
max-width: 100%;
text-align:center; 
line-height:40px;
padding-right: 20px;
}
.tabmenu ul li:last-child{
padding-right: 0;
}
.tabmenu label{
display:block;
width:100%;
height:40px;
line-height:40px;
cursor: pointer;
}
.tabmenu input{
width: 100%;
display:none;
}
.tabCon{
position:absolute; 
display: none; 
width: 100%;
text-align: left; 
left:0;
box-sizing: border-box; 
}
.tabmenu input:checked ~ label{
font-weight: 900;
}
.tabmenu input:checked ~ .tabCon{
display:block;
}

.tabCon > ul{
    display: flex;
    justify-content: space-between;
}
.tabCon > ul > li{}
.tabCon > ul > li > img{
    width: 276px;
    height: 364px;
    background-color: #a8a8a8;
}
.tabCon > ul > li > p{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
} */
/* tab1 end */





/* .footer{
    margin-top: 2000px;
} */