

input:-ms-input-placeholder {color: #a8a8a8;}
input:-webkit-input-placeholder {color: #a8a8a8;}
input:-moz-input-placeholder {color: #a8a8a8;}

/* tab start */
.tab {
    max-width: 1192px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 300px;
    font-size: 20px;
}
.tab > li{
    display: flex;
    flex-direction: column;
}
.tab > li > a{
    font-size: 20px;
    font-weight: 600;
}
.tab > li > a > p{
    font-size: 16px;
    font-weight: 300;
    padding-top: 8px;
}
.tab > li > .i-group{
    height: 200px;
    transform: translate(0, 46%);
}
.tab > li > .i-group > img{
    transform: translate(0, -50%);
    margin: 0 auto;
}


.tab__item,
.tab__item.active {
    /* border: 1px solid #757575; */
}
.tab__item {
    width: 16%;
    height: 240px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: #f1f1f1;
}
.tab__item.active {
    background-color: #00A3E0;
}


.tab__item.active > .i-group > img:first-child{
    display: none;
}
.tab__item > .i-group > img:last-child{
    display: none;
}
.tab__item.active > .i-group > img:last-child{
    display: block;
}


.tab__item.active > a,
.tab__item.active > a > p{
    color: #fff;
}

/* css */
.tab__content-wrapper {
    max-width: 1192px;
    margin: 0 auto;
    position: relative;
}
.tab__content {
    display: none;
}
.tab__content.active {
    display: block;
}
.tab__content.active > h2,
.tab__content > h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -400px;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}
/* tab end */

/* tab common */
.content1,
.content2,
.content3,
.content4,
.content5{
    padding-top: 80px;
}

/* content1 start */
.content1{}

/* search start */
.search{
    margin: 0 auto;
    display: flex;
    margin-top: 300px;
    height: 48px;
    width: 314px;
    border-bottom: 2px solid #000;
    background-color: #ffffff;
}
.search > input {
    font-size: 16px;
    width: 325px;
    padding: 14px 10px 14px 10px;
    border: 0px;
}
.search > button{
    width: 50px;
    height: 100%;
    border: 0;
    background: #fff;
    color: #ffffff;
}
/* search end */
/* content1 end */
